<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather-app.jpg">
        <link rel="stylesheet" href= "/css/style.css">
        <body>
            <div class="main-content">
            {{> header}}
            </div>
            
            {{!-- <h1>{{msg}}</h1> --}}
            {{!-- <p>By {{name}}</p> --}}
            {{>footer}}
        </body>
    </head>
</html>